ipython>=7.26.0
jupyter_contrib_nbextensions>=0.5.1
mypy>=0.910
nblint>=0.0.3
pandas>=1.3.4
pyserum>=0.4.0-alpha.1
pytest>=6.2.5
requests>=2.26.0
rx>=3.2.0
rxpy_backpressure>=1.0.0
solana>=0.16.0
websocket-client>=1.2.1
zstandard==0.15.2
