ipython>=7.24.1
jupyter_contrib_nbextensions>=0.5.1
mypy>=0.902
nblint>=0.0.3
pandas>=1.2.4
pyserum>=0.3.3a1
pytest>=6.2.4
requests>=2.25.1
rx>=3.2.0
rxpy_backpressure>=1.0.0
solana>=0.9.2
websockets>=9.1
